
@model IEnumerable<SpotifyMs.Aplication.Streaming.Dto.MusicaDto>
@{
    ViewData["Title"] = "Música";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a class="btn btn-primary" role="button" href="/Musica/Criar">Criar Música</a>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Duracao</td>    
                <td>AlbumId</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Duracao</td>
                    <td>@item.AlbumId</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

